* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    width: 100%;
    max-height: 100%vh;
    overflow-x: hidden;
    background-color: black;
    
}


/* animation when nav bar and carousel load in to make the page more appealing*/
header {
    animation: scroll-in 1s;
}

#carouselid {
    animation: scroll-in 1s;
}

@keyframes scroll-in {
    0% {
        opacity: 0;
        transform: translateY(0px)
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.carousel-inner{
    /* previous height before change 600px*/
    width: 100%;
    box-shadow: 0px 7px 10px rgb(173, 174, 174);
    
}
/*Added feature to make the navigation links more pleasing*/
#navIcon:hover {
    cursor: default;
}

#aboutTab:hover {
    text-decoration: underline;
}
#serviceTab:hover {
    text-decoration: underline;
}
#pricingTab:hover {
    text-decoration: underline;
}


.sections {
    padding-top: 60px;
    padding-bottom: 50px;
    /*previous top20 btm20*/
   /* opacity: 0;
    transform: translateY(20px);
    animation: scroll-in 3s forwards; */
}

/* Intersection observer api area for animations*/

.firstSect {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s
 }
.firstSect.loaded {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px); 
 }
.secondSect {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s
 }
.secondSect.fade-in {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px); 
 }
.thirdSect {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s
 }
.thirdSect.fade-in {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px); 
 }
.fourthSect {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s
 }
.fourthSect.fade-in {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px); 
 }
.fithSect {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s
 }
.fithSect.fade-in {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px); 
 }
.sixthSect {
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: transform 1s, opacity 1s
 }
.sixthSect.fade-in {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px); 
 }
 /*intersection animations end here*/


.paragraph {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif
}
.card-text {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif

}

h1 {
    text-align: center;
   padding-bottom: 50px;
   
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    padding-bottom: 30px;
    
}

h4 {
    text-align: center;
   
}

a {
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

#altsection {
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);

}

.card {
    height: 300px;

}
.card-title {
    
text-align: center;
}
.card-group {
    padding-bottom: 40px;
}

.pricingLink {
    text-align: center;
    text-decoration: none;
}

.pricingLink:hover {
    text-decoration: underline; 
}

.footers {
    background-color: rgb(33, 33, 33);
    height: 80px;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.footerlinks {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding-left: 30px;
    width: 100vw;
}
.footerlinks:hover {
    text-decoration: underline;
    color: white;
}

.col {
    width: 100%;

}

.Homepageimages{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 7px 5px rgb(173, 174, 174);
    /*previous dimensions 650 width, 500 height*/
  }

  
/*media query to change the sizing of images to achieve a more responsive feel*/
  @media (max-width:1205px){
    .Homepageimages {
      width: 600px; 
      height: 500px; 
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }
   } 

  
  
   @media (max-width:767px){
    .Homepageimages {
      width: 450px; 
      height: 500px; 
      justify-content: center;
      margin-bottom: 15px;
    }
   } 
  


/*Services page only styling*/

.Servicesimages{
    /*previous sizing; w650 h500*/
    width: 600px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 7px 5px rgb(173, 174, 174);

}

@media (max-width:1205px){
    .Servicesimages {
      width: 600px; 
      height: 500px; 
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }
   } 


@media (max-width:767px){
    .Servicesimages{
      width: 450px; 
      height: 500px; 
      justify-content: center;
      margin-bottom: 15px;
      margin-top: 15px;
    }
   } 

/*Pricing page only styling*/

.pricinglinks {
    text-decoration: none;
    text-align: center;
    flex-wrap: nowrap;
}

.Pricing {
    
    font-size: 1.2em;
}

main {
    padding-bottom: 30px;
    padding-top: 30px;
}

/*checkout only styling*/

#redeemBtn {
    height: 60px;
    margin-top: 10px;
}


